/*Stylesheet for most of my site except the home page and a few miscellaneous/ pages*/

body {
    background-color: #212121;
    font-family: "time", "serif";
    color: #f7f7f7;
}

.bronzehead {
    color: #cd7f32;
}

h3 {
    color: #cd7f32;
}

a {
    color: #6495ed;
}

#container {
    margin: auto;
    width: 1200px;
}

#home-image {
    float: left;
    padding-right: 10px;
}

#content {
    border: 2px solid #f7f7f7;
    padding: 15px;
    width: 97%;
    margin: auto;
}


